:root {
  --color-1: #696773;
  --color-2: #272727;
  --color-3: #eff1f3;
  --color-4: #fed766;
  --color-5: #009fb7;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  /*1rem = 10px */
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  background-color: var(--color-4);
  min-height: 100vh;
  padding: 3rem;
  overflow: hidden;
  font-family: "Balsamiq Sans", cursive;

  text-align: center;
}

.canvas {
  --cols: 16;
  --rows: 16;
  width: 40vw;
  height: 40vw;
  margin: 3rem auto;

  border-radius: 6px;
  overflow: hidden;
  cursor: crosshair;

  display: grid;
  grid-template-rows: repeat(16, 1fr);
  grid-template-columns: repeat(16, 1fr);
}

.square {
  width: 100%;
  height: 100%;
  background-color: var(--color-3);
}

.square--colored {
  background-color: var(--color-5);
}

h1 {
  color: var(--color-3);
  text-shadow: 3px 3px 0px var(--color-5);
  font-family: "Pacifico", cursive;
  font-weight: 100;
  font-size: 6rem;
  margin-bottom: 1rem;
}

button {
  position: fixed;
  right: 7%;
  bottom: 5%;

  width: 12rem;
  height: 12rem;
  padding: 2rem;

  cursor: pointer;

  background-color: var(--color-5);
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
  border: none;
  border-radius: 50%;

  font-family: inherit;
  text-transform: capitalize;
  font-size: 2rem;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
  color: white;
  transition: transform 0.2s;
}

button:hover {
  transform: scale(1.1);
}

button:focus {
  outline: none;
}

@media (max-width: 500px) {
  html {
    font-size: 50%;
  }

  .container {
    width: 80vw;
    height: 80vw;
  }
}
