:root {
  --color-1: #696773;
  --color-2: #272727;
  --color-3: #eff1f3;
  --color-4: #fed766;
  --color-5: #009fb7;
}

body {
  background-image: linear-gradient(to bottom, var(--color-1), var(--color-2));
  min-height: 100vh;
  overflow: hidden;
}

.container {
  --cols: 16;
  --rows: 16;
  --size: 15px;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: grid;
  grid-template-columns: repeat(var(--cols), var(--size));
  grid-template-rows: repeat(var(--rows), var(--size));
  gap: 0px;
}

.square {
  width: 100%;
  height: 100%;
  background-color: var(--color-3);
}

.square--colored {
  background-color: var(--color-5);
}
